@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#principal_pnl{
    -fx-background-color: #202020;
}
.scrollPane, #feed, #curso_pnl, #tbl_cursos{
    -fx-background-color:#212121;
}

#usuario_pnl{
    -fx-background-color: #F2668B;
    
}

.label, .button{
    -fx-font-family:Roboto;
} 

#seus_cursos_lbl{
    --fx-color: white;
    font-family: Roboto;
    font-weight: 700;
  font-style: normal;

}


#tbl_cursos{
    -fx-background-color: linear-gradient(#F2668B 0%, #0d2986 100%);
    -fx-background-radius: 7px;
    -fx-border-color: #f0a1b6;
    -fx-border-radius: 7px;
}

.table-view .column-header{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #f0a1b6 transparent;
    -fx-border-width: 1px;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-text-fill: white;
}